*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
    color: white;
}
body{
    background: skyblue;
    width: 100%;
    height:100vh ;
    display: flex;
    align-items: center;
    justify-content: left;
}
.card-group{
    display: flex;
    gap: 10px;
}
.card{
    width: 250px;
    height: 400px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
    left: 0px;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    transition: 0.5s;
}
.card .layer{
    background: linear-gradient(to top,rgba(0,0,0,1),rgba(232, 153, 6, 0));
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75%;
    opacity: 0;
    transition: 0.3s;
}
.card .info{
    position: absolute;
    bottom: -50%;
    padding: 15px;
    opacity: 0;
    transition: 0.5s bottom,1.75s opacity;
}
.info p{
    font-size: 14px;
    margin-top: 3px;
}
.info button{
    background: #490CCC;
    border: none;
    padding: 8px 12px;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 8px;
    text-decoration: none;
}
.card:hover,
.card:hover img,
.card:hover layer{
    transform: scale(1.1);
}
.card:hover > .layer{
    opacity: 1;
}
.card:hover > .info{
    bottom: 0;
    opacity: 1;
}
.card-group:hover > .card:not(:hover){
    filter: blur(5px);
}
button{
    text-decoration: none;
}
a{
    text-decoration: none;
}  
/*nav*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 1.3rem 10%;
    display: flex;
    background: #1679e3;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 45px;
    color: rgb(241, 246, 247);
    text-decoration: none;
    font-weight: 700;
}
.navbar a{
    font-size: 35px;
    color: rgb(241, 245, 246);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    color: rgb(224, 249, 5);
}
#check{
    display: none;
}
.icon{
    font-size: 50px;
    position: absolute;
    right: 5%;
    color: rgb(1, 181, 246);
    cursor: pointer;
    display: none;
}